<div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <p class="p">What projects have I worked on?</p>
        <h2>Projects</h2>
        <hr
          style="
            margin-left: 36%;
            justify-content: center;
            border: 2pt rgb(4, 152, 201) solid;
            width: 30%;
          "
        />
      </div>
    </div>
    <br />
    <br />
    <div class="container content">
      <h4 style="font-family: 'Baloo Paaji', cursive; ">
        Expense and Expenditure Application
      </h4>
      <br />
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <hr
            style="
              font-weight: bold;
              font-size: 1vw;
              color: white;
              border: 1px solid white;
            "
          />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
          <h1
            style="
              font-weight: bold;
              font-size: 1.5vw;
              text-align: center;
              color: white;
            "
          >
            X
          </h1>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <hr
            style="
              font-weight: bold;
              font-size: 1vw;
              text-align: center;
              color: white;
              border: 1px solid white;
            "
          />
        </div>
      </div>
      <br />
      <a routerLink=""
        ><button class="btn btn1" type="submit" style="float: right">
          <i class="fa fa-mail-reply-all"></i></button
      ></a>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
          <video
            src="/assets/SelfIntro/PGAVDestinations_compressed.mp4"
            autoplay
            controls
          ></video>
        </div>
      </div>
      <br />
      <div class="row">
        <div
          class="col-lg-12 col-md-12 col-sm-12"
          style="
            padding: 2%;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: justify;
          "
        >
          <a href="https://github.com/Manan-2001/Expense-and-Expenditure-App" target="_blank"
            ><button class="btn btn1">
              GitHub<i class="fa fa-github-square"></i></button></a
          ><br /><br />
          <p class="cp">
            I developed an Expense and Expenditure Application as an academic project during my MCA program. The primary goal of this project was to create a user-friendly mobile application for tracking expenses, helping users manage their finances effectively.
          </p>
          <p class="cp">
            The application was built using Android Studio and Kotlin, ensuring a modern and efficient development process. To enhance the user experience, I incorporated Lottie Animations, which provided smooth and visually appealing transitions within the app.
          </p>
          <p class="cp">
            Key features of the Expense and Expenditure Application include functionalities for tracking daily expenses, categorizing expenditures, and providing an overview of spending patterns. Users can easily add, update, and delete expense entries, making it simple to manage and monitor their financial activities.
          </p>
          <p class="cp">
            Additionally, the application includes secure login and registration activities. For user authentication, I integrated Firebase, which offers robust and reliable authentication services. This ensures that users' data is protected and only accessible to authorized individuals.
          </p>
          <p class="cp">
            This project highlights my skills in mobile app development, particularly with Kotlin and Android Studio. It also demonstrates my ability to create intuitive and engaging user interfaces using Lottie Animations. Furthermore, the integration of Firebase for authentication underscores my competency in incorporating backend services to enhance application functionality and security.
          </p>
          
        </div>
      </div>
      <hr />
      <a routerLink=""
        ><button class="btn btn1" type="submit" style="float: right">
          <i class="fa fa-mail-reply-all"></i></button
      ></a>
    </div>
  </div>
  