h2 {
    text-align: center;
    font-family: "Baloo Paaji", cursive;
    font-weight: bold;
    font-size: 2.5vw;
  
    color: rgb(212, 212, 212);
  }
  
  p {
    text-align: center;
    font-family: "Baloo Paaji", cursive;
  }
  
  
  .container{
    border: 1pt rgba(134, 218, 221, 0.822) dashed;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 3px 6px 6px rgba(134, 218, 221, 0.719);
    border-bottom: none;
    border-right: none;
  }
  img{
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(173, 216, 230, 0.849);
    margin-left: 10%;
  }
  @media (max-width:992px) {
    img{
      margin-left: 30%;
    }
  }
  h6{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }
  .h6{
    text-align: center;
  }
  i{
    
      color: whitesmoke;
      font-size: 1.3rem;
    text-align: center;
  }
  h6>span{
    font-family:"Baloo Paaji", cursive ;
    font-size: 130%;
    color: rgb(0, 195, 255);
  }
  h6>span>a{
    font-family:"Baloo Paaji", cursive ;
    font-size: 100%;
    color: rgb(0, 195, 255);
  }
  @media (max-width:660px) {
    h6>span{
      font-family:"Baloo Paaji", cursive ;
      font-size: 100%;
      color: rgb(0, 195, 255);
    }
    h6>span>a{
      font-family:"Baloo Paaji", cursive ;
      font-size: 100%;
      color: rgb(0, 195, 255);
    }
  }
  h6>span>a:hover{
    color: whitesmoke;
  }
  i{
    color:whitesmoke ;
    font-size: 1.7;
    
  }
  i:hover{
    color:rgb(0, 195, 255) ;
  }
  .i{
    font-size: 1.8rem;
  }
  
  #about-me-container {
    opacity: 0; /* initial opacity */
    transition: opacity 5s; /* transition duration */
  }
  
  #about-me-container.fade-in {
    opacity: 1; /* final opacity */
  }
  .btn{
    background-color: none;
    border-radius: 5px;
    color: #03e9f4;
    border: 2px solid #03e9f4;
    box-shadow: 2px 3px 3px #03e9f4;
  }
  .btn:hover{
    background-color: #03e9f4;
    color: black;
  }
  

  @media (max-width:991px)and (min-width:600px) {
    h2 {
      font-size: 5vw;
    }
    h6{
      font-size: 4vw;
    }
    .btn1{
      font-size: 3vw;
    }
    .p{
      font-size: 4vw;
    }
    i{
      font-size: 5vw;
    }
}
@media (max-width:600px) {
  h2 {
   
    font-size: 10vw;
  }
  h6{
    font-size: 6vw;
  }
  .btn1{
    font-size: 4vw;
  }
  .p{
    font-size: 5vw;
  }
  i{
    font-size: 7vw;
  }
}

  // form css

  #cross{
    color: red;
    float: right;
    font-size: 32px;
  }
  #cross:hover{
    color: #03e9f4;
  }
  .login-box {
    margin: 0 auto;
    
    padding: 40px;
    // background: rgb(87, 87, 87);
    background: linear-gradient(to left, #3a3939, #175375e8);
    box-shadow: 0 15px 25px rgba(127, 221, 250, 0.6);
    border-radius: 10px;
  }
  
  .login-box .modal-content .modal-header h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .login-box .user-box input:focus ~ label,.login-box .user-box textarea:focus ~ label,
  .login-box .user-box input:valid ~ label,.login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 10px;
    letter-spacing: 4px;
  }
  
  .login-box form a:hover {
    background: #03e9f4;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
  }
  
  /* KEYFRAMES */
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  /* USING KEYFRAMES */
  
  .login-box a span:nth-child(1) {
    animation: btn-anim1 1s linear infinite;
  }
  
  .login-box a span:nth-child(2) {
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  .login-box a span:nth-child(3) {
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  .login-box a span:nth-child(4) {
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }



  // warning button


