<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br />
  <br />
  <div class="container content">
    <h4 style="font-family: 'Baloo Paaji', cursive; font-size: 3vw">
      Mocha
      <span
        style="color: rgb(252, 36, 36); text-shadow: 2px 2px rgb(252, 36, 36)"
        >Mania</span
      >
      Cafe
    </h4>
    <br />
    <div class="row">
      <div class="col-lg-5">
        <hr
          style="
            font-weight: bold;
            font-size: 1vw;
            color: white;
            border: 1px solid white;
          "
        />
      </div>
      <div class="col-lg-1">
        <h1
          style="
            font-weight: bold;
            font-size: 1.5vw;
            text-align: center;
            color: white;
          "
        >
          X
        </h1>
      </div>
      <div class="col-lg-5">
        <hr
          style="
            font-weight: bold;
            font-size: 1vw;
            text-align: center;
            color: white;
            border: 1px solid white;
          "
        />
      </div>
    </div>
    <br />
    <a routerLink=""
      ><button class="btn btn1" type="submit" style="float: right">
        <i class="fa fa-mail-reply-all"></i></button
    ></a>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
        <video
          src="/assets/SelfIntro/Cafe_Mocha_Maniah.mp4"
          autoplay
          controls
        ></video>
      </div>
    </div>
    <br />
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12"
        style="
          padding: 2%;
          color: white;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-align: justify;
        "
      >
        <a href="https://github.com/Manan-2001/Mocha-Mania-Cafe" target="_blank"
          ><button class="btn btn1">
            GitHub<i class="fa fa-github-square"></i></button></a
        > <a href="https://mocha-mania-cafe.onrender.com" target="_blank" style="margin-left: 1%;"
        ><button class="btn btn1">
          Website<i class="fa fa-chrome"></i></button></a
      ><br /><br />
        <p style="font-size: 1.35vw">
          During my <strong>personal project</strong>, I developed a web application for an
          imaginary café called <strong>Cafe Mocha Mania</strong>. The aim was to create a
          dynamic and visually appealing platform where users could explore the
          <strong>menu</strong>, <strong>place orders</strong>, and learn more about the café. This project was
          built using <strong>Angular</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>Bootstrap</strong>, <strong>TypeScript</strong>, and <strong>JavaScript.</strong>
        </p>
        <p style="font-size: 1.35vw">
          One of the key features I implemented was a comprehensive and
          interactive menu display using Angular. Users can view detailed
          descriptions and images of various café items, including beverages,
          snacks, and desserts. I also developed an intuitive order placement
          system that allows users to select items, customize their orders, and
          add them to the cart. This system includes features such as quantity
          adjustment, special instructions, and real-time price calculation.
        </p>
        <p style="font-size: 1.35vw">
          To enhance user interaction and engagement, I used JavaScript and
          TypeScript to create smooth transitions, modals for detailed item
          views, and dynamic updates without reloading the page. Additionally, I
          created an "About Us" section detailing the story, values, and
          ambiance of Cafe Mocha Mania, designed to engage visitors and give
          them a sense of the café's atmosphere.
        </p>
        <p style="font-size: 1.35vw">
          The frontend development process involved using Angular to structure
          the application into reusable components, making the codebase modular
          and maintainable. I leveraged HTML for content structure and CSS along
          with Bootstrap for styling, ensuring a cohesive and attractive visual
          design. I implemented TypeScript and JavaScript to handle user
          interactions, such as menu item selection, cart updates, and form
          submissions.
        </p>
        <p style="font-size: 1.35vw">
          Throughout the project, I conducted extensive testing to ensure all
          features functioned correctly and the application performed well under
          various conditions. I also optimized the code and assets for faster
          load times and better performance.
        </p>
        <p style="font-size: 1.35vw">
          The web application is deployed on Render cloud and can be accessed at
          <a href="https://mocha-mania-cafe.onrender.com" target="_blank" style="color: rgb(3, 192, 255);">Cafe Mocha Mania</a>. <br />
        </p>
        <p style="font-size: 1.35vw">
          The Cafe Mocha Mania web application successfully combines
          functionality with an engaging user experience, showcasing my skills
          in frontend development and web design. This project highlights my
          ability to use modern web technologies to create interactive and
          responsive web applications. I gained deeper insights into Angular and
          its application in building complex web interfaces, enhanced my
          proficiency in HTML, CSS, Bootstrap, JavaScript, and TypeScript, and
          learned effective techniques for optimizing web applications for
          performance. This project also improved my ability to manage a
          personal project from conception to completion, including planning,
          development, testing, and deployment.
        </p>
      </div>
    </div>
    <hr />
    <a routerLink=""
      ><button class="btn btn1" type="submit" style="float: right">
        <i class="fa fa-mail-reply-all"></i></button
    ></a>
    
  </div>
  <br>
  <br>
</div>

