h2 {
    text-align: center;
    font-family: "Baloo Paaji", cursive;
    font-weight: bold;
    font-size: 3.5vw;
    color: rgb(212, 212, 212);
  }
  .p{
    text-align: center;
    font-family: "Baloo Paaji", cursive;
    color: rgb(190, 190, 190);
    font-size: 1.9vw;
  }
  p:hover{
    color: #a7dfff;
  }
  .cp{
    font-size: 1.35vw;
  }
  h4{
    font-weight: 700;
    font-size: 1.4vw;
    text-align: center;
    color: white;
  }
video{
    width: 90%;
  }

  .btn1{
    background-color: none;
    border-radius: 5px;
    color: #03e9f4;
    border: 1px solid #03e9f4;
    box-shadow:  2px 2px #03e9f4;
    font-size: 1.2vw;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn1:hover{
    background-color: #98faffd5;
    color: black;
    box-shadow:  4px 4px #03e9f4;
    i{
      color: black;
    }

  }
  @media (max-width:991px)and (min-width:600px) {
    h2 {
      font-size: 5vw;
    }
    .btn1{
      font-size: 3vw;
    }
    .cp{
      font-size: 3vw;
    }
}
@media (max-width:600px) {
  h2 {
   
    font-size: 10vw;
  }
  .btn1{
    font-size: 4vw;
  }
  .cp{
    font-size: 4vw;
  }
}

  @keyframes floatFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .float-right-to-left {
    animation: floatFromRight 1s ease-out;
  }
  i{
    color: white;
    font-size: 1.8vw;
    margin-left: 5px;
    
  }
 