.skills-section{
  padding:80px 5%;
  color:white;
}

.skills-header{
  text-align:center;
  margin-bottom:60px;
}

.skills-header h2{
  font-size:clamp(36px,5vw,56px);
  font-weight:800;
  background:linear-gradient(90deg,#8ffdeb,#00ffd5);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.glow-line{
  width:120px;
  height:4px;
  margin:15px auto;
  background:#00ffd5;
  box-shadow:0 0 15px #00ffd5;
  border-radius:20px;
}

.skill-block{
  margin-bottom:60px;
}

.skill-block h3{
  text-align:center;
  margin-bottom:25px;
  font-weight:600;
  color:#e6fffb;
}

.skill-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:25px;
}

.skill-card{
  background:rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius:16px;
  padding:20px;
  text-align:center;
  border:1px solid rgba(0,255,213,0.15);
  transition:0.4s;
  position:relative;
  overflow:hidden;
}

.skill-card::before{
  content:'';
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(0,255,213,0.25),transparent);
  opacity:0;
  transition:0.4s;
}

.skill-card:hover::before{
  opacity:1;
}

.skill-card:hover{
  transform:translateY(-10px) scale(1.03);
  box-shadow:0 0 30px rgba(0,255,213,0.4);
  border:1px solid #00ffd5;
}

.skill-card img{
  height:50px;
  margin-bottom:12px;
  background-color: white;
  border-radius: 15px;
}

.skill-card span{
  display:block;
  font-size:14px;
  letter-spacing:0.5px;
  color:#eaffff;
}
