.work-experience {
  width: 100%;
  overflow-x: hidden;
  padding: 80px 0;
  background: transparent;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-weight: 700;
  background: linear-gradient(90deg, #8ffdeb, #00ffd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(32px, 5vw, 52px);
}

.section-header h6 {
  color: rgb(190, 190, 190);
  font-size: clamp(14px, 2vw, 18px);
}

.section-header .line {
  width: 120px;
  height: 3px;
  margin: 12px auto;
  background: #00ffd5;
  border-radius: 10px;
}

/* Timeline layout */
.timeline-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Vertical line */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 32px;
  width: 4px;
  background: #1a4941;
  border-radius: 10px;
}

/* Item */
.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 50px;
  position: relative;
}

/* Icon */
.timeline-icon {
  min-width: 64px;
  height: 64px;
  background: #1a4941;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  z-index: 2;
}

/* Card */
.timeline-card {
  background: #1a4941;
  padding: 25px;
  border-radius: 12px;
  color: white;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
}

.timeline-item:nth-child(even) .timeline-card {
  background: 1a4941;
}

.timeline-card h3 {
  margin: 0 0 6px 0;
}

.timeline-card h4 {
  margin: 8px 0 12px 0;
  font-weight: 500;
}

.timeline-card ul {
  padding-left: 18px;
  margin: 0;
}

.timeline-card li {
  margin-bottom: 6px;
  font-size: 15px;
}

/* Date */
.date {
  font-size: 13px;
  color: #bfc3c7;
  margin-bottom: 6px;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .work-experience{
    padding: 0;
  }
  .timeline::before {
    display: none;
  }

  .timeline-item {
    flex-direction: column;
    gap: 12px;
  }

  .timeline-icon {
    margin: 0 auto;
  }

  .timeline-card {
    text-align: left;
    padding: 18px;
  }

  .timeline-card li {
    font-size: 14px;
  }

  .section-header h2 {
    font-size: 8vw;
  }

  .section-header h6 {
    font-size: 4.5vw;
  }
}
