<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br />
  <br />
  <!-- <div class="container">
      <div class="row">
        <div class="col-lg">
          <br>
          <h6>
            Category:
            <span
              style="
                color: rgba(0, 113, 243, 0.856);
                text-shadow: 0.05rem 0.05rem rgb(63, 63, 63);
              "
              >Front End Development</span
            >
          </h6>
          <br />
        </div>
      </div>
    </div> -->
  <div class="container">
    <div class="row" id="about-me-container">
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card PGAV">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  PGAV<span style="color: darkorange; font-size: 0.7rem"
                    >DESTINATIONS</span
                  >
                </h6>
                <p style="text-align: justify">
                  During my <strong> Internship </strong> at
                  <strong> Ankhub Technologies Services</strong>, I had the
                  opportunity to work on an innovative project aimed at
                  developing a comprehensive rental services web application.
                  This platform integrates four distinct rental services into a
                  single seamless user experience:
                  <strong> Accommodation Rent</strong>,<strong>
                    Tiffin Rent</strong
                  >,<strong> Vehicle Rent</strong>, and
                  <strong> Electrical Appliances Rent</strong>...
                </p>
                <a
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                    data-bs-toggle="modal"
                    data-bs-target="#pgav_destination"
                    (click)="startVideoPGAV()"
                  >
                    See More...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
        <h5 class="margh5">
          PGAV<span style="font-size: 0.9rem; color: darkorange"
            >DESTINATIONS</span
          ><br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Health_PLUS">
            <div class="content">
              <h6
                style="
                  font-style: italic;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  font-weight: bold;
                "
              >
                <strong> Health PLUS</strong><br />
              </h6>
              <p style="text-align: justify">
                During my <strong> final year project</strong>, I developed an
                Android application called <strong> Health Plus</strong>. The
                goal was to create a user-friendly platform where users could
                book doctor appointments, order lab tests, and manage their
                profiles through login and registration activities. This project
                was built using Java in Android Studio, with Firebase...
              </p>
              <a
                target="_blank"
                href="/assets/SelfIntro/Health_Plus_Application.html"
                ><button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                >
                  See More...
                </button></a
              >
            </div>
          </div>
        </div>
        <h5
          style="
            color: white;
            text-shadow: 0 0.2rem 0.3rem black;
            margin-left: 10%;
            margin-top: 2%;
          "
        >
          Health PLUS Application<br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="cardBox">
          <div class="card Cafe">
            <div class="content">
              <h6
                style="font-style: italic; font-family: 'Baloo Paaji', cursive"
              >
                Mocha
                <span style="color: rgb(252, 36, 36)">Mania</span>
                Cafe<br />
              </h6>
              <p style="text-align: justify">
                During my <strong>personal project</strong>, I developed a web
                application for an imaginary café called<strong>
                  Cafe Mocha Mania</strong
                >. The aim was to create a dynamic and visually appealing
                platform where users could explore the menu, place orders, and
                learn more about the café. This project was built using
                <strong>Angular</strong>,<strong> HTML</strong>,<strong>
                  CSS</strong
                >,<strong> Bootstrap</strong>, <strong>TypeScript</strong>,
                and<strong> JavaScript</strong>.
              </p>
              <a target="_blank" href="/assets/SelfIntro/Cafe_Mocha_Mania.html"
                ><button
                  class="btn btn-outline-primary"
                  style="font-size: small"
                  data-bs-toggle="modal"
                    data-bs-target="#Cafe_Mocha_Mania"
                    (click)="startVideoPGAV()"
                >
                  See More...
                </button></a
              >
            </div>
          </div>
        </div>
        <h5 class="margh5Mocha" style="font-style: italic">
          Mocha
          <span
            style="
              color: rgb(252, 36, 36);
              text-shadow: 0.07rem 0.07rem rgb(252, 36, 36);
            "
            >Mania</span
          >
          Cafe<br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card RestAPI">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Employee Management RestFull API
                </h6>
                <p style="text-align: justify">
                  I developed an <strong>Employee Management System</strong> as
                  a <strong>personal full-stack project</strong>, focusing on
                  optimizing administrative tasks associated with employee data
                  management. This project exemplifies my proficiency in
                  integrating backend and frontend technologies to deliver a
                  cohesive and efficient software solution...
                </p>
                <a
                  target="_blank"
                  href="/assets/SelfIntro/EmployeeManagement_RestFull_API.html"
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                  >
                    See More...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Employee Management RestFull API <br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card Sports">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Sports Activities Recognition System
                </h6>
                <p style="text-align: justify">
                  I developed a
                  <strong>Sports Activity Recognition System</strong> as an
                  academic project during my MCA program. The objective of this
                  project was to train a model capable of predicting
                  <strong>sports activities </strong> from input
                  <strong>Sports Videos </strong> and <strong>Images</strong>.
                  This project employed advanced machine learning and deep
                  learning techniques to achieve high accuracy in
                  <strong>sports recognition</strong>...
                </p>
                <a
                  target="_blank"
                  href="/assets/SelfIntro/Sports Activity Recognition System.html"
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                  >
                    See More...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Sports Activities Recognition System <br /><br />
        </h5>
      </div>
      <div class="col-lg col-sm col-md">
        <div class="box marg">
          <div class="cardBox">
            <div class="card Expense">
              <div class="content">
                <h6 style="font-family: 'Baloo Paaji', cursive">
                  Expense and Expenditure Application
                </h6>
                <p style="text-align: justify">
                  I developed an
                  <strong>Expense and Expenditure Application</strong> as an
                  <strong>academic project</strong> during my MCA program. The
                  primary goal of this project was to create a user-friendly
                  mobile application for <strong>tracking expenses</strong>,
                  helping users manage their finances effectively.<br />
                  The application was built using
                  <strong>Android Studio</strong> and <strong>Kotlin</strong>,
                  ensuring a modern ....
                </p>
                <a
                  target="_blank"
                  href="/assets/SelfIntro/Expense_Manager_Application.html"
                  ><button
                    class="btn btn-outline-primary"
                    style="font-size: small"
                  >
                    See More...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
        <h5 style="color: whitesmoke">
          Expense and Expenditure Application<br /><br />
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- modal PGAV-->
<div class="modal fade" id="pgav_destination">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          PGAV<span style="color: darkorange; font-size: 1rem"
            >DESTINATIONS</span
          >
        </h4>
      </div>
      <hr />

      <!-- Modal body -->
      <div class="modal-body" style="border-bottom: none;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
            <video
              *ngIf="vidStarPGAV == true"
              src="/assets/SelfIntro/PGAVDestinations.mp4"
              autoplay
            ></video>
          </div>
        </div>
        <br />
        <div class="row">
          <div
            class="col-lg-12 col-md-12 col-sm-12"
            style="
              padding: 2%;
              color: white;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              text-align: justify;

            "
          >
            <p>
              During my <strong>internship</strong> at <strong>Ankhub Technologies Services</strong>, I had the
              opportunity to work on an innovative project aimed at developing a
              comprehensive rental services web application. This platform
              integrates four distinct rental services into a single seamless
              user experience: <strong>Accommodation Rent</strong>,<strong> Tiffin Rent</strong>, <strong>Vehicle Rent</strong>,
              and <strong>Electrical Appliances Rent</strong>.
            </p>
            <p>
              Our team consisted of six members, and we utilized a variety of
              technologies to bring this project to life. On the frontend, we
              employed <strong>Angular</strong> for building dynamic and responsive user
              interfaces, along with <strong>HTML</strong>,<strong> CSS</strong>, and <strong>Bootstrap</strong> for designing a
              user-friendly and visually appealing layout. <strong>JavaScript</strong> and
              <strong>TypeScript</strong> were used to enhance the functionality and
              interactivity of the application. For version control and
              collaborative development, we relied on <strong>Bitbucket</strong> and <strong>GitHub</strong>.
            </p>
            <p>
              My primary responsibilities included frontend development, where I
              played a key role in creating and optimizing the user interface. I
              worked on various features across the four rental categories. For
              Accommodation Rent, I developed features allowing users to search,
              filter, and book rental properties based on their preferences and
              location. In the Tiffin Rent module, I enabled users to subscribe
              to daily meal services with customizable meal plans. For Vehicle
              Rent, I implemented a system for users to book and schedule
              vehicle rentals, complete with payment functionalities. In the
              Electrical Appliances Rent section, I developed a user-friendly
              interface for renting appliances, including detailed descriptions
              and rental terms.
            </p>
            <p>
              Ensuring a seamless user experience was a top priority. I focused
              on making the web application fully responsive, providing a
              consistent experience across different devices and screen sizes.
              My work involved optimizing the user interface for ease of
              navigation and improved user satisfaction.
            </p>
            <p>
              Additionally, I was actively involved in testing and debugging the
              application. I conducted thorough testing to ensure reliability
              and performance, working closely with my team to resolve issues
              and implement improvements based on feedback.
            </p>
            <p>
              The successful completion of this project resulted in a robust and
              user-friendly web application that streamlined multiple rental
              services into a single platform. This integration provided users
              with a convenient and efficient solution for their rental needs.
            </p>
            <p>
              Through this project, I gained valuable hands-on experience in
              Angular and modern web development practices. I also improved my
              skills in teamwork, collaboration, and version control, enhancing
              my problem-solving abilities through debugging and optimizing web
              applications. This project not only honed my technical skills but
              also provided valuable insights into developing comprehensive web
              solutions in a collaborative environment.
            </p>
          </div>
        </div>
      </div>
      <hr>

      <!-- Modal footer -->
      <div class="modal-footer" style="border-top: none;">
        <a style="cursor:pointer;" (click)="stopVideoPGAV()" type="submit"  data-bs-dismiss="modal">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Close
        </a>
      </div>
    </div>
  </div>
</div>

<!-- modal Cafe Mocha Mania-->
<div class="modal fade" id="Cafe_Mocha_Mania">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          PGAV<span style="color: darkorange; font-size: 1rem"
            >DESTINATIONS</span
          >
        </h4>
      </div>
      <hr />

      <!-- Modal body -->
      <div class="modal-body" style="border-bottom: none;">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
            <video
              *ngIf="vidStar == true"
              src="/assets/SelfIntro/PGAVDestinations_compressed.mp4"
              autoplay
            ></video>
          </div>
        </div>
        <br />
        <div class="row">
          <div
            class="col-lg-12 col-md-12 col-sm-12"
            style="
              padding: 2%;
              color: white;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              text-align: justify;

            "
          >
            <p>
              During my <strong>internship</strong> at <strong>Ankhub Technologies Services</strong>, I had the
              opportunity to work on an innovative project aimed at developing a
              comprehensive rental services web application. This platform
              integrates four distinct rental services into a single seamless
              user experience: <strong>Accommodation Rent</strong>,<strong> Tiffin Rent</strong>, <strong>Vehicle Rent</strong>,
              and <strong>Electrical Appliances Rent</strong>.
            </p>
            <p>
              Our team consisted of six members, and we utilized a variety of
              technologies to bring this project to life. On the frontend, we
              employed <strong>Angular</strong> for building dynamic and responsive user
              interfaces, along with <strong>HTML</strong>,<strong> CSS</strong>, and <strong>Bootstrap</strong> for designing a
              user-friendly and visually appealing layout. <strong>JavaScript</strong> and
              <strong>TypeScript</strong> were used to enhance the functionality and
              interactivity of the application. For version control and
              collaborative development, we relied on <strong>Bitbucket</strong> and <strong>GitHub</strong>.
            </p>
            <p>
              My primary responsibilities included frontend development, where I
              played a key role in creating and optimizing the user interface. I
              worked on various features across the four rental categories. For
              Accommodation Rent, I developed features allowing users to search,
              filter, and book rental properties based on their preferences and
              location. In the Tiffin Rent module, I enabled users to subscribe
              to daily meal services with customizable meal plans. For Vehicle
              Rent, I implemented a system for users to book and schedule
              vehicle rentals, complete with payment functionalities. In the
              Electrical Appliances Rent section, I developed a user-friendly
              interface for renting appliances, including detailed descriptions
              and rental terms.
            </p>
            <p>
              Ensuring a seamless user experience was a top priority. I focused
              on making the web application fully responsive, providing a
              consistent experience across different devices and screen sizes.
              My work involved optimizing the user interface for ease of
              navigation and improved user satisfaction.
            </p>
            <p>
              Additionally, I was actively involved in testing and debugging the
              application. I conducted thorough testing to ensure reliability
              and performance, working closely with my team to resolve issues
              and implement improvements based on feedback.
            </p>
            <p>
              The successful completion of this project resulted in a robust and
              user-friendly web application that streamlined multiple rental
              services into a single platform. This integration provided users
              with a convenient and efficient solution for their rental needs.
            </p>
            <p>
              Through this project, I gained valuable hands-on experience in
              Angular and modern web development practices. I also improved my
              skills in teamwork, collaboration, and version control, enhancing
              my problem-solving abilities through debugging and optimizing web
              applications. This project not only honed my technical skills but
              also provided valuable insights into developing comprehensive web
              solutions in a collaborative environment.
            </p>
          </div>
        </div>
      </div>
      <hr>

      <!-- Modal footer -->
      <div class="modal-footer" style="border-top: none;">
        <a style="cursor:pointer;" (click)="stopVideoPGAV()" type="submit"  data-bs-dismiss="modal">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Close
        </a>
      </div>
    </div>
  </div>
</div>
