<style></style>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br />
  <br />
  <div class="container content">
    <h4 style="font-family: 'Baloo Paaji', cursive">
      Employee Management RestFull API
    </h4>
    <br />
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <hr
          style="
            font-weight: bold;
            font-size: 1vw;
            color: white;
            border: 1px solid white;
          "
        />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
        <h1
          style="
            font-weight: bold;
            font-size: 1.5vw;
            text-align: center;
            color: white;
          "
        >
          X
        </h1>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <hr
          style="
            font-weight: bold;
            font-size: 1vw;
            text-align: center;
            color: white;
            border: 1px solid white;
          "
        />
      </div>
    </div>
    <br />
    <a routerLink=""
      ><button class="btn btn1" style="float: right">
        <i class="fa fa-mail-reply-all"></i></button
    ></a>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
        <video
          src="/assets/SelfIntro/EmployeeManagementSystem.mp4"
          autoplay
          controls
        ></video>
      </div>
    </div>
    <br />
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12"
        style="
          padding: 2%;
          color: white;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-align: justify;
        "
      >
        <a
          href="https://github.com/Manan-2001/EmployeeManagement"
          target="_blank"
          ><button class="btn btn1">
            GitHub<i class="fa fa-github-square"></i></button></a
        ><br /><br />
        <p class="cp">
          I developed an <strong>Employee Management System</strong> as a personal <strong>full-stack
          project</strong>, focusing on optimizing administrative tasks associated with
          <strong>employee data management</strong>. This project exemplifies my proficiency in
          integrating <strong>backend</strong> and <strong>frontend technologies</strong> to deliver a cohesive
          and efficient software solution.
        </p>
        <p class="cp">
          At its core, I utilized <strong>Spring Boot</strong> and <strong>Java</strong> to build a robust backend
          <strong>API</strong>. This API supports essential operations such as <strong>adding new
          employees</strong>, <strong>updating records</strong>, <strong>retrieving detailed employee information</strong>,
          and <strong>securely deleting records</strong>. The backend architecture ensures
          scalability and efficiency in handling diverse data management tasks
          seamlessly.
        </p>
        <p class="cp">
          On the frontend, I employed <strong>Angular</strong> as the framework of choice,
          complemented by <strong>HTML</strong>, <strong>CSS</strong>, <strong>TypeScript</strong>, and <strong>Bootstrap</strong>. This stack
          enabled me to develop a responsive and intuitive user interface (UI)
          that facilitates seamless interaction with the employee management
          system. Angular's capabilities in structuring dynamic UI components
          and managing data binding were instrumental in creating a modern and
          user-friendly experience.
        </p>
        <p class="cp">
          To validate and refine the API functionalities, I extensively utilized
          Postman for API testing and debugging. This approach ensured robust
          data flow and functionality between the frontend and backend
          components, enhancing overall reliability and performance.
        </p>
        <p class="cp">
          Throughout the development lifecycle, I prioritized code optimization
          and adherence to best practices in software architecture. This
          approach not only bolstered application performance but also fortified
          its security and reliability. By integrating Bootstrap for UI styling
          and TypeScript for frontend logic, I achieved a cohesive and visually
          appealing interface that enhances user engagement and usability.
        </p>
        <p class="cp">
          This project serves as a testament to my proficiency in full-stack
          development, showcasing my ability to leverage cutting-edge
          technologies like Spring Boot and Angular to deliver scalable and
          user-centric applications. It has provided invaluable experience in
          API development, frontend design, and systematic testing
          methodologies, demonstrating my capability to manage and execute
          complex software projects from inception to completion.
        </p>
      </div>
    </div>
    <hr />
    <a routerLink=""
      ><button class="btn btn1" type="submit" style="float: right">
        <i class="fa fa-mail-reply-all"></i></button
    ></a>
  </div>
</div>
