<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <p class="p">What projects have I worked on?</p>
      <h2>Projects</h2>
      <hr
        style="
          margin-left: 36%;
          justify-content: center;
          border: 2pt rgb(4, 152, 201) solid;
          width: 30%;
        "
      />
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <h4 style="font-family: 'Baloo Paaji', cursive; font-size: 3vw">
      PGAV<span style="color: darkorange; font-size: 2vw">Destinations</span>
    </h4><br> 
    <div class="row">
        <div class="col-lg-5">
            <hr style=" font-weight: bold;
            font-size: 1vw;
            color: white;
            border: 1px solid white;">
        </div>
        <div class="col-lg-1">
            <h1 style=" font-weight: bold;
            font-size: 1.5vw;
            text-align: center;
            color: white;">X</h1>
        </div>
        <div class="col-lg-5">
            <hr style=" font-weight: bold;
            font-size: 1vw;
            text-align: center;
            color: white;
            border: 1px solid white;
            ">
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
        <video
          src="/assets/SelfIntro/PGAVDestinations_compressed.mp4"
          autoplay
        ></video>
      </div>
    </div>
    <br />
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12"
        style="
          padding: 2%;
          color: white;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-align: justify;
        "
      >
        <p>
          During my <strong>internship</strong> at
          <strong>Ankhub Technologies Services</strong>, I had the opportunity
          to work on an innovative project aimed at developing a comprehensive
          rental services web application. This platform integrates four
          distinct rental services into a single seamless user experience:
          <strong>Accommodation Rent</strong>,<strong> Tiffin Rent</strong>,
          <strong>Vehicle Rent</strong>, and
          <strong>Electrical Appliances Rent</strong>.
        </p>
        <p>
          Our team consisted of six members, and we utilized a variety of
          technologies to bring this project to life. On the frontend, we
          employed <strong>Angular</strong> for building dynamic and responsive
          user interfaces, along with <strong>HTML</strong>,<strong> CSS</strong
          >, and <strong>Bootstrap</strong> for designing a user-friendly and
          visually appealing layout. <strong>JavaScript</strong> and
          <strong>TypeScript</strong> were used to enhance the functionality and
          interactivity of the application. For version control and
          collaborative development, we relied on <strong>Bitbucket</strong> and
          <strong>GitHub</strong>.
        </p>
        <p>
          My primary responsibilities included frontend development, where I
          played a key role in creating and optimizing the user interface. I
          worked on various features across the four rental categories. For
          Accommodation Rent, I developed features allowing users to search,
          filter, and book rental properties based on their preferences and
          location. In the Tiffin Rent module, I enabled users to subscribe to
          daily meal services with customizable meal plans. For Vehicle Rent, I
          implemented a system for users to book and schedule vehicle rentals,
          complete with payment functionalities. In the Electrical Appliances
          Rent section, I developed a user-friendly interface for renting
          appliances, including detailed descriptions and rental terms.
        </p>
        <p>
          Ensuring a seamless user experience was a top priority. I focused on
          making the web application fully responsive, providing a consistent
          experience across different devices and screen sizes. My work involved
          optimizing the user interface for ease of navigation and improved user
          satisfaction.
        </p>
        <p>
          Additionally, I was actively involved in testing and debugging the
          application. I conducted thorough testing to ensure reliability and
          performance, working closely with my team to resolve issues and
          implement improvements based on feedback.
        </p>
        <p>
          The successful completion of this project resulted in a robust and
          user-friendly web application that streamlined multiple rental
          services into a single platform. This integration provided users with
          a convenient and efficient solution for their rental needs.
        </p>
        <p>
          Through this project, I gained valuable hands-on experience in Angular
          and modern web development practices. I also improved my skills in
          teamwork, collaboration, and version control, enhancing my
          problem-solving abilities through debugging and optimizing web
          applications. This project not only honed my technical skills but also
          provided valuable insights into developing comprehensive web solutions
          in a collaborative environment.
        </p>
      </div>
    </div>
    <hr />
    <a href=""><button class="btn btn1" type="submit">Back</button></a>
  </div>
</div>
